<div class="recent-transactions">
	<div class="header">
		<h2>Transações Recentes</h2>
		<a href=""
			>Mais
			<span class="material-icons-sharp"> chevron_right </span></a
		>
	</div>

	<div class="transaction">
		<div class="service">
			<div class="icon bg-purple-light">
				<span class="material-icons-sharp purple"> headphones </span>
			</div>
			<div class="details">
				<h4>Música</h4>
				<p>20/11/2021</p>
			</div>
		</div>
		<div class="card-details">
			<div class="card bg-danger">
				<img src="/assets/images/visa.png">
			</div>
			<div class="details">
				<p>*2757</p>
				<small class="text-muted">Credit Card</small>
			</div>
		</div>
		<h4>R$ 40,00</h4>
	</div>
</div>
