<div class="recent-transactions">
	<div class="header">
		<h2>Transações Recentes</h2>
		<a href=""
			>Mais <span class="material-icons-sharp"> chevron_right </span></a
		>
	</div>

	@for (recentTransaction of recentsTransactions; track $index) {
	<div class="transaction">
		<div class="service">
			<div class="icon {{recentTransaction.className}}">
				<span class="material-icons-sharp {{recentTransaction.iconClass}}">
					{{ recentTransaction.icon }}
				</span>
			</div>
			<div class="details">
				<h4>{{ recentTransaction.transactionName }}</h4>
				<p>{{ recentTransaction.date }}</p>
			</div>
		</div>
		<div class="card-details">
			<div class="card {{recentTransaction.flagCartClass}}">
				<img src="/assets/images/{{ recentTransaction.flagCart }}" />
			</div>
			<div class="details">
				<p>{{ recentTransaction.cartNumber }}</p>
				<small class="text-muted">{{
					recentTransaction.typeTransaction
				}}</small>
			</div>
		</div>
		<h4>R$ {{ recentTransaction.value }}</h4>
	</div>
	}
</div>
