<nav>
	<div class="container">
		<img class="logo" src="/assets/images/logo.png" alt="logo" />
		<div class="search-bar">
			<span class="material-icons-sharp"> search </span>
			<input type="search" placeholder="Buscar"/>
		</div>
		<div class="profile-area">
			<div class="theme-btn">
				<span class="material-icons-sharp active"> light_mode </span>
				<span class="material-icons-sharp"> dark_mode </span>
			</div>
			<div class="profile">
				<div class="profile-photo">
					<img src="/assets/images/profile-1.jpg" alt="" />
				</div>
				<h5>Wal Costa</h5>
				<span class="material-icons-sharp"> expand_more </span>
				<button id="menu-btn">
					<span class="material-icons-sharp"> menu </span>
				</button>
			</div>
		</div>
	</div>
</nav>
